.tabs button {
    background-color: transparent;
    color: white;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none
}

.tabs button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.tabs-line {
    border-bottom: 1px solid #fbd1a2;
    margin-bottom: 10px;
}

.header {
    color: white;
}

.price {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.stock-details-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.stock-chart-container {
    flex-grow: 2;
    margin-right: 20px;
}

.market-movers-container {
    background-color: transparent;
    border-radius: 4px;
    border: 0.5px solid #fbd1a2;
}
  
.market-movers-header {
    color: white; 
}

.market-movers-header {
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 0;
}

.price-difference.positive {
    color: #08BD20;
}

.price-difference.positive::before {
    content: "▲";
    color: #08BD20;
    margin-right: 5px;
}

.price-difference.negative {
    color: #CD0E0E;
}

.price-difference.negative::before {
    content: "▼";
    color: #CD0E0E;
    margin-right: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-message {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    z-index: 11;
}

.popup-message.error {
    background-color: #CD0E0E;
    color: white;
}

.stock-trade-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 4px;
    border: 0.5px solid #fbd1a2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.stock-trade-container h3 {
    color: white;
    margin-bottom: 15px;
}

.stock-trade-container label {
    font-size: 14px;
    color: white;
}

.stock-trade-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.stock-trade-container button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #1D4E89;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.stock-trade-container button:hover {
    background-color: #13335a;
}
.stock-info-container {
    background-color: transparent;
    border-radius: 5px;
    max-width: 80vw;
    margin: 20px 0;
}

.stock-info-container p {
    margin: 10px 0; 
    font-size: 16px; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.stock-info-container p strong {
    font-weight: bold;
}
