.watchlist-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.watchlist-modal-content {
  background-color: #23394d;
  padding: 40px;
  border-radius: 10px;
  width: 40%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}


form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #e0a96d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e0a96d;
}
