.navbar {
  display: flex;
  align-items: center;
  background-color: #23394d; 
  padding: 2px 20px;
  border-bottom: 2px solid white; 
}


.logo {
  background: #1D4E89; 
  border-radius: 0 50px 50px 0; 
  padding: 3px 20px; 
  margin-top: 5px;
  margin-bottom: 1px;
  box-shadow: 5px 0 5px -5px #000;
  z-index: 6;
  margin-left: -20px;
}

.logo img {
  width: 85px;
  margin-right: 20px;
  height: 35px;
}


.nav-links, .logo{
  list-style: none;
  display: flex;
  position: relative;
}

.What {
  position: relative;
  padding: 15px 30px;
  margin-left: -65px; 
  padding-top: 15px;
  border-radius: 0 50px 50px 0;
  padding-right: 18px;
  box-shadow: 5px 0 5px -5px #000;
  background:  #fbd1a2;
  z-index: 5;
}
.What:hover{
  background-color:  #ab8f6f;
}
.Gold {
  position: relative;
  padding: 15px 30px;
  margin-left: -20px; 
  padding-right: 18px;
  padding-top: 15px;
  border-radius: 0 50px 50px 0;
  box-shadow: 5px 0 5px -5px #000;
  background:  #7dcfb6;
  z-index: 4;
}
.Gold:hover{
  background-color:  #619f8c;
}
.Learn {
  position: relative;
  padding: 15px 30px;
  padding-right: 18px;
  margin-left: -20px; 
  padding-top: 15px;
  background: #00b2ca;
  box-shadow: 5px 0 5px -5px #000;
  border-radius: 0 50px 50px 0; 
  z-index: 3;
}
.Learn:hover{
  background-color:  #028fa2;
}
.Snacks {
  position: relative;
  padding: 15px 30px;
  margin-left: -20px; 
  padding-right: 18px;
  padding-top: 15px;
  box-shadow: 5px 0 5px -5px #000;
  border-radius: 0 50px 50px 0; 
  background:  #F79256;
  z-index: 2;
}
.Snacks:hover{
  background-color:  #af673d;
}
.Support {
  position: relative;
  padding: 15px 30px;
  padding-top: 15px;
  padding-right: 18px;
  margin-left: -20px; 
  box-shadow: 5px 0 5px -5px #000;
  border-radius: 0 50px 50px 0; 
  background:  #FFFFFF;
  z-index: 1;
}
.Support:hover{
  background-color:  #bebdbd;
}

.nav-links a {
  text-decoration: none;
  color:#222430;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 8px; 
}

.auth-buttons {
  margin-left: auto; 
  display: flex;
  gap: 20px; 
}

.auth-buttons li {
  list-style: none;
  margin: 0;
  background-color: #222430; 
  border-radius: 20px; 
  cursor: pointer; 
  font-family: Arial, Helvetica, sans-serif; 
}

li.login{
  border:2px solid #F79256;
  color:  #F79256;
}

li.login:hover{
  border:2px solid #b0683e;
  color:  #b0683e;
}
li.signup{
  border: 2px solid #7DCFB6;
  color: #7DCFB6;
}
li.signup:hover{
  border: 2px solid #548b7a;
  color: #548b7a;
}
.auth-buttons li.login, .auth-buttons li.signup {
  padding: 1px 10px;
}


.auth-buttons li.login, .auth-buttons li.signup {
  width: 80px; 
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
